.consult {
	margin-top: 100px;
	&__body {
		margin: 0 -20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media (min-width: $tablet) {
			margin: 0;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__left {
		background: $black;
		border-radius: 20px;
		overflow: hidden;
		@media (min-width: $tablet) {
			width: calc(50% - 15px);
		}
		@media (min-width: $desktop) {
			width: calc(100% - 400px);
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		@media (min-width: $tablet) {
			width: calc(50% - 15px);
		}
		@media (min-width: $desktop) {
			width: 370px;
		}
	}
	&__item {
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 30px;
		background: $black;
		border-radius: 20px;
		padding: 40px 20px;
		color: $white;
		padding-top: 70px;
		@media (min-width: $desktop) {
			padding: 40px;
			gap: 20px;
		}
	}
	&__navs {
		position: absolute;
	    top: 20px;
	    right: 20px;
	    z-index: 2;
	}
	&__title {
		font-weight: 600;
		font-size: 25px;
		position: relative;
		z-index: 1;
		@media (min-width: $desktop) {
			max-width: 320px;
		}
	}
	&__text {
		color: $white;
		position: relative;
		z-index: 1;
		@media (min-width: $desktop) {
			max-width: 320px;
		}
	}
	&__row {
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		@media (min-width: $desktop) {
			max-width: 380px;
		}
		> div {
			font-size: 12px;
			display: flex;
			flex-direction: column;
		}
		b {
			font-weight: 600;
			font-size: 35px;
			color: $light;
			line-height: 1;
		}
	}
	&__pic {
		display: none;
		aspect-ratio: 1/1;
		height: calc(100% - 30px);
		z-index: 1;
		position: absolute;
		object-fit: contain;
		object-position: bottom;
		bottom: 0;
		right: 0;
		@media (min-width: $desktop) {
			display: block;
		}
	}
}