.toper {
	display: none;
	background: $black;
	color: #919397;
	position: relative;
	@media (min-width: $tablet) {
		display: block;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 52px;
	}
	&__burger {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		background: $white;
		border: none;
		border-radius: 10px;
		color: $black;
		&:hover {
			background: $light;
		}
		@media (min-width: $tablet) {
			display: none;
		}
		svg {
			width: 14px;
			height: 14px;
		}
	}
	&__menu {
		display: none;
		align-items: center;
		gap: 20px;
		font-size: 14px;
		@media (min-width: $tablet) {
			display: flex;
		}
		&-item {
			&:last-child {
				@media (min-width: $laptop) {
					margin-left: 20px;
				}
			}
		}
		&-link {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 0;
			background: none;
			border: none;
			&:hover {
				color: $white;
			}
			svg {
				width: 10px;
				height: 10px;
				transform: rotate(90deg);
			}
			span {
				color: $light;
				font-weight: 500;
				text-decoration: underline;
			}
		}
	}
	&__sub {
		display: none;
		position: absolute;
		top: 52px;
		z-index: 9;
		left: 0;
		width: 100%;
		background: $white;
		border-radius: 0 0 10px 10px;
		box-shadow: $shadow;
		color: $black;
		&-body {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 40px;
			padding: 20px 0;
			@media (min-width: $laptop) {
				grid-template-columns: 1fr 1fr 1fr;
				padding: 40px 0;
			}
			@media (min-width: $desktop) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
		&-item {
			font-size: 16px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
			a {
				&:hover {
					color: $green;
				}
			}
			b {
				font-weight: 600;
				font-size: 18px;
			}
		}
	}
	.toper-menu-actived &__sub {
		display: block;
	}
	&__icons {
		display: flex;
		align-items: center;
		gap: 30px;
		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		}
		&-button {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: none;
			padding: 0;
			border: none;
			&:hover {
				color: $white;
			}
			&.active {
				color: $light;
			}
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}
.nav-actived .toper {
	display: block;
}
.toper-menu-actived {
	overflow: hidden;
	.overlay {
		display: block;
	}
	.toper {
	z-index: 10;}
}

.header {
	padding-top: 10px;
	margin-bottom: 40px;
	@media (min-width: $tablet) {
		padding-top: 40px;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__col {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@media (min-width: $tablet) {
			justify-content: flex-start;
		}
	}
	&__col + &__col {
		display: none;
		gap: 30px;
		@media (min-width: $laptop) {
			display: flex;
		}
	}
	&__burger {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		background: $black;
		border: none;
		border-radius: 10px;
		color: $white;
		&:hover {
			background: $light;
		}
		&.active {
			background: #F4F4F4;
			color: $black;
			svg {
				width: 14px;
				height: 14px;
			}
		}
		@media (min-width: $tablet) {
			order: 1;
			border-right: -10px;
		}
		svg {
			width: 20px;
			height: 20px;
		}
	}
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: $tablet) {
			order: 2;
			margin-left: 20px;
		}
		img {
			height: 40px;
			@media (min-width: $tablet) {
				height: 44px;
			}
		}
	}
	&__profile {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		background: $white;
		border: none;
		border-radius: 10px;
		color: $black;
		&:hover {
			background: $light;
		}
		@media (min-width: $tablet) {
			display: none;
		}
		svg {
			width: 20px;
			height: 20px;
		}
	}
	&__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		width: 100%;
		gap: 20px;
		@media (min-width: $tablet) {
			gap: 30px;
			order: 2;
			width: auto;
			margin: 0;
			justify-content: flex-start;
			margin-left: 30px;
		}
		&-item {
			font-weight: 500;
			&:hover {
				color: $green;
			}
			@media (min-width: $tablet) {
				font-size: 18px;
			}
		}
	}
	&__phone {
		display: none;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		&:hover {
			color: $green;
		}
		@media (min-width: $desktop) {
			display: flex;
		}
	}
}

.nav {
	display: none;
	bottom: 0;
	position: absolute;
	left: 0;
	width: 100%;
	background: $white;
	z-index: 999;
	height: calc(100% - 52px);
	overflow: hidden;
	overflow-y: auto;
	&__toper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 30px 0;
		@media (min-width: $tablet) {
			display: none;
		}
		&:after {
			content: '';
			background: #E5E5E5;
			width: 20000px;
			height: 1px;
			bottom: 0;
			left: 50%;
			margin-left: -10000px;
			position: absolute;
		}
		&-left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			height: 40px;
			line-height: 1;
		}
		&-right {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		&-cities {
			font-size: 14px;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 4px;
			button {
				padding: 0;
				border: none;
				background: none;
				color: $light;
				text-decoration: underline;
				display: flex;
				align-items: center;
				gap: 4px;
				&:hover {
					color: $green;
				}
			}
			svg {
				width: 8px;
				height: 8px;
				color: $black;
				transform: rotate(90deg);
			}
		}
		&-phone {
			font-size: 14px;
			&:hover {
				color: $light;
			}
		}
		&-item {
			background: $green;
			width: 40px;
			height: 40px;
			border-radius: 10px;
			color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				background: $light;
				color: $black;
			}
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
	&__head {
		display: none;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		padding-top: 40px;
		@media (min-width: $tablet) {
			display: flex;
		}
		&-left {
			display: flex;
			align-items: center;
		}
		&-right {
			display: flex;
			align-items: center;
			gap: 30px;
		}
		&-phone {
			font-size: 14px;
			font-weight: 500;
		}
	}
	&__body {
		padding: 30px 0;
		display: flex;
		flex-direction: column;
		gap: 40px;
		@media (min-width: $tablet) {
			padding: 40px 0;
		}
		@media (min-width: $laptop) {
			flex-direction: row;
			gap: 0;
		}
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 40px;
		@media (min-width: $tablet) {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0;
		}
		@media (min-width: $laptop) {
			width: 300px;
			display: flex;
			flex-direction: column;
			gap: 60px;
			border-right: 1px solid #E5E5E5;
			padding-right: 20px;
		}
		@media (min-width: $desktop) {
			width: 450px;
			padding-left: 60px;
			padding-right: 170px;
		}
	}
	&__menu {
		display: flex;
		flex-direction: column;
		gap: 24px;
		@media (min-width: $tablet) {
			width: 300px;
			padding-left: 60px;
			padding-right: 20px;
			border-right: 1px solid #E5E5E5;
		}
		@media (min-width: $laptop) {
			width: 100%;
			padding: 0;
			border: none;
		}
		&-item {
			display: flex;
			flex-direction: column;
		}
		&-toggle {
			display: flex;
			align-items: center;
			&.active {
				color: $light;
				text-decoration: underline;
			}
			a {
				line-height: 24px;
				display: flex;
				align-items: center;
				width: calc(100% - 24px);
				padding-right: 16px;
				font-size: 18px;
				font-weight: 500;
			}
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0;
				border: none;
				background: none;
				width: 24px;
				height: 24px;
			}
			svg {
				width: 8px;
				height: 8px;
			}
		}
		&-sub {
			overflow: hidden;
			opacity: 0;
			height: 0;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			color: #878787;
			padding-left: 24px;
			gap: 8px;
			a {
				&:hover {
					color: $light;
				}
			}
		}
		.active + &-sub {
			transition: $transition;
			opacity: 1;
			height: auto;
			padding-top: 12px;
		}
	}
	&__cats {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px 32px;
		@media (min-width: $tablet) {
			width: calc(100% - 300px);
			padding-left: 80px;
			max-width: 370px;
			display: flex;
			flex-direction: column;
		}
		@media (min-width: $laptop) {
			width: 100%;
			padding-left: 0;
		}
		&-item {
			display: flex;
			align-items: center;
			color: #878787;
			font-size: 14px;
			&:hover {
				color: $light;
			}
		}
		span {
			width: calc(100% - 24px);
			padding-right: 16px;
		}
		i {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
		}
		svg {
			width: 8px;
			height: 8px;
		}
	}
	&__thing {
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px;
		}
		@media (min-width: $laptop) {
			width: calc(100% - 300px);
			padding-left: 30px;
			height: 350px;
		}
		@media (min-width: $desktop) {
			width: calc(100% - 450px);
		}
		&-item {
			border-radius: 20px;
			padding: 20px;
			display: flex;
			background: $light;
			color: $black;
		}
		&-face {
		    width: 60px;
		    height: 60px;
		    background: $light;
		    border-radius: 10px;
		    display: flex;
		    justify-content: center;
		    align-items: flex-end;
		    overflow: hidden;
			transition: $transition;
		    img {
		      width: 44px;
		      height: 57px;
		    }
		}
		&-body {
			width: calc(100% - 60px);
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			gap: 16px;
			position: relative;
			min-height: 120px;
		}
		&-title {
			font-size: 18px;
			font-weight: 500;
		}
		&-text {
			font-size: 14px;
			padding-right: 50px;
		}
		&-arrow {
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $light;
			border-radius: 10px;
			position: absolute;
			bottom: 0;
			right: 0;
			svg {
				width: 8px;
				height: 8px;
			}
		}
	}
}
.nav-actived .nav {
	display: block;
}
.cities-actived .nav {
	overflow: hidden;
}

.search {
	display: none;
	z-index: 999;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $white;
	height: calc(100% - 52px);
	overflow: hidden;
	@media (min-width: $tablet) {
		max-height: 330px;
		bottom: auto;
		top: 52px;
		box-shadow: $shadow;
		border-radius: 0 0 10px 10px;
	}
	&__wrapper {
		background: $white;
		box-shadow: $shadow;
		border-radius: 10px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__toper {
		display: flex;
		align-items: center;
		height: 50px;
		padding: 0 20px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		input {
			font-size: 18px;
			width: calc(100% - 40px);
			height: 24px;
			padding: 0;
			padding-right: 16px;
			border: none;
			background: none;
		}
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border: none;
			background: #F4F4F4;
			border-radius: 10px;
			color: $black;
			padding: 0;
			&:hover {
				background: $light;
			}
		}
		svg {
			width: 20px;
			height: 20px;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 40px;
		border: 1px solid #E5E5E5;
		border-left: none;
		border-right: none;
		padding: 20px;
		overflow: hidden;
		overflow-y: auto;
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: calc(100% - 100px);
	}
	&__one {
		display: flex;
		flex-direction: column;
		gap: 20px;
		a {
			display: flex;
			align-items: flex-start;
			&:hover {
				color: $light;
			}
		}
		i {
			width: 24px;
			height: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		svg {
			width: 16px;
			height: 16px;
		}
		span {
			width: calc(100% - 24px);
			padding-left: 16px;
		}
		b {
			font-weight: 600;
		}
	}
	&__two {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		height: 50px;
		color: #878787;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 18px;
		&:hover {
			color: $light;
		}
		svg {
			width: 14px;
			height: 14px;
		}
	}
}
.search-actived {
	overflow: hidden;
	&.nav-actived .search {
		display: block;
	}
	.search {
		@media (min-width: $tablet) {
			display: block;
		}
	}
	.toper {
		z-index: 10;
	}
	.overlay {
		display: block;
	}
}

.profile {
	display: none;
	z-index: 999;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $white;
	height: calc(100% - 52px);
	@media (min-width: $tablet) {
		height: auto;
		background: none;
		bottom: auto;
		top: 52px;
		left: auto;
		right: 20px;
		max-width: 290px;
	}
	@media (min-width: $desktop) {
		right: auto;
		left: 50%;
		margin-left: 335px;
	}
	.container {
		@media (min-width: $tablet) {
			padding: 0;
		}
	}
	&__wrapper {
		background: $white;
		box-shadow: $shadow;
		border-radius: 10px;
		overflow: hidden;
	}
	&__toper {
		padding: 20px;
		border-bottom: 1px solid #e5e5e5;
		display: flex;
		align-items: center;
		img {
			width: 40px;
			height: 40px;
			border-radius: 10px;
		}
		div {
			width: calc(100% - 40px);
			padding-left: 20px;
			display: flex;
			flex-direction: column;
		}
		b {
			font-weight: 600;
			max-width: 180px;
		}
	}
	&__body {
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: 14px;
	}
	&__one {
		display: flex;
		align-items: center;
		&:hover {
			color: $light;
		}
		span {
			width: calc(100% - 24px);
			padding-right: 16px;
		}
		i {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
		}
		svg {
			width: 8px;
			height: 8px;
		}
	}
	&__two {
		color: #878787;
		&:hover {
			color: $light;
		}
	}
}
.profile-actived {
	overflow: hidden;
	&.nav-actived .profile {
		display: block;
	}
	.profile {
		@media (min-width: $tablet) {
			display: block;
		}
	}
	.toper {
		z-index: 10;
	}
	.overlay {
		display: block;
	}
}

.cities {
	display: none;
	z-index: 999;
	position: absolute;
	top: 102px;
	left: 0;
	width: 100%;
	@media (min-width: $tablet) {
		max-width: 350px;
		top: 52px;
		left: 27%;
	}
	@media (min-width: $laptop) {
		left: 23%;
	}
	@media (min-width: $desktop) {
		left: 50%;
		margin-left: -354px;
	}
	.container {
		@media (min-width: $tablet) {
			padding: 0;
		}
	}
	&__wrapper {
		background: $white;
		box-shadow: $shadow;
		border-radius: 10px;
		overflow: hidden;
	}
	&__toper {
		display: flex;
		align-items: center;
		height: 50px;
		padding: 0 20px;
		border-bottom: 1px solid #e5e5e5;
		input {
			font-size: 16px;
			width: calc(100% - 20px);
			height: 24px;
			padding: 0;
			padding-right: 16px;
			border: none;
			background: none;
		}
		svg {
			width: 20px;
			height: 20px;
			color: #878787;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-size: 14px;
		margin: 0;
		padding: 20px;
		height: 210px;
		overflow: hidden;
		overflow-y: auto;
		li {
			display: block;
			&.active {
				display: list-item;
				font-weight: 600;
				margin-left: 16px;
			}
		}
		a {

			&:hover {
				color: $light;
			}
		}
	}
}
.cities-actived {
	overflow: hidden;
	&.nav-actived .cities {
		display: block;
	}
	.cities {
		@media (min-width: $tablet) {
			display: block;
		}
	}
	.toper {
		z-index: 10;
	}
	.overlay {
		display: block;
	}
}
