.leader {
	margin-top: 100px;
	&__solutions {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px;
		}
		@media (min-width: $desktop) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		.solution__body-item {
			&:last-child {
				display: none;
				@media (min-width: $tablet) {
					display: block;
				}
				@media (min-width: $desktop) {
					display: none;
				}
			}
		}
	}
	&__things {
		margin-top: 10px;
		@media (min-width: $tablet) {
			margin-top: 30px;
		}
		&-swiper {
			margin: 0 -20px;
			overflow: hidden;
			padding: 0 20px;
			@media (min-width: $tablet) {
				display: none;
			}
			.swiper {
				margin: 0;
				width: calc(100% - 40px);
				overflow: visible;
			}
		}
		&-body {
			display: none;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 30px 0;
			@media (min-width: $tablet) {
				display: flex;
			}
			@media (min-width: $desktop) {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				gap: 30px;
			}
			&-item {
				width: calc(33.333333% - 20px);
				position: relative;
				height: 182px;
				@media (min-width: $laptop) {
					height: 155px;
				}
				@media (min-width: $desktop) {
					width: 100%;
				}
				&:first-child {
					display: none;
					@media (min-width: $desktop) {
						display: block;
					}
				}
			}
		}
		&-item {
			font-size: 14px;
			background: $white;
			border-radius: 20px;
			padding: 20px;
			display: flex;
			flex-direction: column;
			gap: 12px;
			@media (min-width: $tablet) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			b {
				font-weight: 600;
				font-size: 18px;
				@media (min-width: $laptop) {
					font-size: 20px;
				}
			}
		}
		&-button {
			background: $green;
			border-radius: 20px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
			padding: 0;
			font-size: 20px;
			font-weight: 600;
			color: $white;
			&:hover {
				background: $green-dark;
			}
		}
	}
}