.numbers {
	margin-top: 60px;
	@media (min-width: $tablet) {
		margin-top: 40px;
	}
	@media (min-width: $desktop) {
		margin-top: 60px;
	}
	&__row {
		display: flex;
		flex-direction: column;
		@media (min-width: $desktop) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding-right: 60px;
		}
	}
	&__face {
		width: 250px;
		height: 250px;
		display: none;
		justify-content: center;
		align-items: flex-end;
		background: $white;
		border-radius: 40px;
		img {
			height: 240px;
		}
		@media (min-width: $desktop) {
			display: flex;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 40px;
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 60px;
		}
		@media (min-width: $laptop) {
			gap: 60px 100px;
		}
	}
	&__item {
		position: relative;
		padding-left: 35px;
		color: #878787;
		svg {
			width: 14px;
			height: 14px;
			position: absolute;
			top: 20px;
			left: 0;
		}
		&-title {
			color: $black;
			font-weight: 600;
			font-size: 40px;
		}
		&-text {
			font-size: 18px;
			font-weight: 500;
			margin-top: 10px;
		}
	}
}