.profit {
	margin-top: 50px;
	@media (min-width: $tablet) {
		margin-top: 100px;
	}
	&__inner {
		padding: 30px 20px;
		background: $black;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		color: $white;
		@media (min-width: $tablet) {
			padding: 30px;
			gap: 30px;
		}
	}
	&__body {
		color: $black;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (min-width: $tablet) {
			gap: 30px;
		}
		@media (min-width: $laptop) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		&_1 {
			@media (min-width: $laptop) {
				grid-area: 1 / 1 / 3 / 2;
			}
		}
		&_2 {
			@media (min-width: $laptop) {
				grid-area: 1 / 2 / 2 / 3;
			}
		}
		&_3 {
			@media (min-width: $laptop) {
				grid-area: 2 / 2 / 3 / 3;
			}
		}
	}
	&__thing {
		background: #fff url(../images/girl-2.jpg) no-repeat 100% 100%;
		background-size: auto 240px;
		padding: 20px;
		border-radius: 20px;
		padding-bottom: 260px;
		position: relative;
		@media (min-width: $tablet) {
			padding: 30px;
			min-height: 530px;
			background-size: auto 400px;
		}
		@media (min-width: $desktop) {
			padding-left: 40px;
		}
		&-numb {
			background: $light;
			border-radius: 10px;
			width: 60px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			font-weight: 600;
			position: absolute;
			top: 20px;
			right: 20px;
			@media (min-width: $tablet) {
				width: 100px;
				height: 100px;
				font-size: 35px;
				top: 30px;
				right: 30px;
			}
		}
		&-title {
			padding-right: 80px;
			font-weight: 600;
			font-size: 25px;
			min-height: 60px;
			display: flex;
			align-items: center;
			@media (min-width: $tablet) {
				min-height: 100px;
				font-size: 35px;
				padding-right: 130px;
				line-height: 1.2;
			}
			a {
				text-decoration: underline;
				font-weight: 800;
				&:hover {
					color: $light;
				}
			}
		}
		&-text {
			font-size: 18px;
			margin-top: 30px;
			max-width: 340px;
			@media (min-width: $tablet) {
				font-size: 20px;
			}
			span {
				font-weight: 600;
			}
		}
	}
	&__item {
		position: relative;
		padding: 30px 20px;
		border-radius: 20px;
		background: $light;
		padding-top: 100px;
		@media (min-width: $tablet) {
			padding: 30px;
			padding-bottom: 35px;
		}
		@media (min-width: $desktop) {
			padding-left: 40px;
		}
		&-numb {
			background: #F4F4F4;
			border-radius: 10px;
			width: 60px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			font-weight: 600;
			position: absolute;
			top: 20px;
			left: 20px;
			@media (min-width: $tablet) {
				width: 100px;
				height: 100px;
				font-size: 35px;
				left: auto;
				right: 30px;
				top: 30px;
			}
		}
		&-title {
			font-weight: 600;
			font-size: 20px;
			line-height: 1.3;
			display: flex;
			align-items: center;
			@media (min-width: $tablet) {
				min-height: 100px;
				font-size: 35px;
				padding-right: 130px;
				line-height: 1.2;
			}
			@media (min-width: $laptop) {
				font-size: 25px;
				line-height: 1.3;
			}
			@media (min-width: $desktop) {
				min-height: 1px;
				padding: 0;
				max-width: 340px;
			}
		}
		&-text {
			font-size: 18px;
			margin-top: 30px;
			max-width: 340px;
			@media (min-width: $tablet) {
				font-size: 20px;
			}
			@media (min-width: $laptop) {
				font-size: 18px;
			}
			span {
				font-weight: 600;
			}
		}
	}
}