.solution {
	margin-top: 100px;
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 40px;
		position: relative;
	}
	&__tabs {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $laptop) {
			position: absolute;
			bottom: 0;
			right: 0;
		}
		&-wrapper {
			border-radius: 10px;
			background: $white;
			padding: 10px;
			display: grid;
			gap: 10px;
			position: relative;
			grid-template-columns: 1fr 1fr;
			@media (min-width: $tablet) {
				gap: 20px;
			}
			&:before {
				content: '';
				z-index: 1;
				position: absolute;
				width: calc(50% - 20px);
				height: calc(100% - 20px);
				left: 10px;
				top: 10px;
				background: #E2F8DC;
				border-radius: 10px;
				transition: $transition;
			}
			&.active:before {
				left: calc(50% + 5px);
				width: calc(50% - 15px);
			}
		}
		&-item {
			display: flex;
			align-items: center;
			padding: 10px;
			background: none;
			border: none;
			border-radius: 10px;
			font-size: 14px;
			text-align: left;
			position: relative;
			z-index: 2;
			@media (min-width: $desktop) {
				font-size: 16px;
			}
			svg {
				display: none;
				width: 30px;
				height: 30px;
				@media (min-width: $tablet) {
					display: block;
				}
			}
			span {
				@media (min-width: $tablet) {
					width: calc(100% - 30px);
					padding-left: 15px;
					max-width: 140px;
				}
				@media (min-width: $desktop) {
					max-width: 210px;
				}
			}
		}
	}
	&__body {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 30px;
			margin-top: 40px;
		}
		@media (min-width: $desktop) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		&-item {
			position: relative;
			@media (min-width: $tablet) {
				height: 260px;
			}
			@media (min-width: $laptop) {
				height: 280px;
			}
			&_i1 {
				@media (min-width: $desktop) {
					grid-area: 1 / 1 / 2 / 3;
				}
			}
			&_i2 {
				@media (min-width: $desktop) {
					grid-area: 1 / 3 / 2 / 5;
				}
			}
			&_i3 {
				@media (min-width: $desktop) {
					grid-area: 2 / 1 / 3 / 3;
				}
			}
			&_i4 {
				@media (min-width: $desktop) {
					grid-area: 2 / 3 / 3 / 4;
				}
			}
			&_i5 {
				@media (min-width: $desktop) {
					grid-area: 2 / 4 / 3 / 5;
				}
			}
			&_i6 {
				@media (min-width: $desktop) {
					grid-area: 3 / 1 / 4 / 2;
				}
			}
			&_i7 {
				@media (min-width: $desktop) {
					grid-area: 3 / 2 / 4 / 3;
				}
			}
			&_i8 {
				@media (min-width: $desktop) {
					grid-area: 3 / 3 / 4 / 4;
				}
			}
			&_i9 {
				@media (min-width: $desktop) {
					grid-area: 3 / 4 / 4 / 5;
				}
			}
		}
		&-title {
			font-weight: 600;
			font-size: 18px;
			display: flex;
			align-items: center;
			@media (min-width: $tablet) {
				font-size: 20px;
			}
			@media (min-width: $desktop) {
				max-width: 340px;
			}
			i {
				width: 60px;
				height: 60px;
				border-radius: 10px;
				background: #303030;
				color: $white;
				display: flex;
				justify-content: center;
				align-items: center;
				@media (min-width: $desktop) {
					width: 100px;
					height: 100px;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
			svg {
				width: 40px;
				height: 40px;
				@media (min-width: $desktop) {
					width: 64px;
					height: 64px;
				}
			}
		}
		&-text {
			font-size: 14px;
			margin-top: 10px;
			line-height: 1.6;
		}
		&-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			gap: 10px;
			margin-top: 40px;
			&:hover {
				color: $green;
			}
			i {
				width: 20px;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				background: $green;
				color: $white;
				position: relative;
				left: 0;
				transition: $transition;
			}
			&:hover i {
				left: 10px;
			}
			svg {
				width: 10px;
				height: 10px;
			}
		}
		&-one {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px;
			background: #141414;
			border-radius: 20px;
			color: $white;
			@media (min-width: $tablet) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			@media (min-width: $desktop) {
				padding: 30px;
			}
			> div {
				display: flex;
				flex-direction: column;
				position: relative;
			}
			.solution__body-text {
				@media (min-width: $laptop) {
					max-width: 340px;
					margin-top: 30px;
				}
			}
			span {
				width: calc(100% - 60px);
				padding-right: 20px;
				@media (min-width: $desktop) {
					width: 100%;
					padding-right: 0;
				}
			}
			&_blue {
				background: #839BC8;
				i {
					background: $white;
					color: $black;
				}
			}
			&_white {
				background: $white;
				color: $black;
			}
			.button {
				margin-top: 30px;
				font-size: 14px;
				font-weight: 600;
				width: 100%;
				padding: 0;
				@media (min-width: $tablet) {
					max-width: 210px;
				}
				@media (min-width: $desktop) {
					margin-top: 0;
				}
			}
		}
		&-two {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px;
			background: $white;
			border-radius: 20px;
			color: $black;
			@media (min-width: $tablet) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			> div {
				display: flex;
				flex-direction: column;
				> div {
					@media (min-width: $tablet) {
						max-width: 210px;
					}
				}
			}
		}
	}
}