.tasks {
	margin-top: 100px;
	overflow: hidden;
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;
		@media (min-width: $tablet) {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: wrap;
			gap: 0;
			padding-right: 400px;
		}
		@media (min-width: $laptop) {
			min-height: 420px;
		}
		@media (min-width: $desktop) {
			padding-right: 0;
		}
	}
	&__big-title {
		@media (min-width: $tablet) {
			margin-bottom: 60px;
		}
	}
	&__phone {
		max-width: 365px;
		width: 100%;
		margin: 0 auto;
		@media (min-width: $tablet) {
			width: 290px;
			max-width: none;
			position: absolute;
			bottom: 66px;
			right: 37.5px;
		}
		@media (min-width: $desktop) {
			width: 380px;
			height: 380px;
			object-fit: contain;
			bottom: 0;
			right: auto;
			left: 50%;
			transform: translate(-50%);
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (min-width: $tablet) {
			max-width: 290px;
			gap: 30px;
		}
		@media (min-width: $laptop) {
			max-width: none;
			gap: 40px;
		}
		@media (min-width: $desktop) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding-left: 80px;
			padding-right: 40px;
		}
		&-left {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			@media (min-width: $tablet) {
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
			@media (min-width: $laptop) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 40px;
			}
			@media (min-width: $desktop) {
				display: flex;
				flex-direction: column;
				gap: 100px;
				max-width: 290px;
			}
		}
		&-right {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			@media (min-width: $tablet) {
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
			@media (min-width: $laptop) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 40px;
			}
			@media (min-width: $desktop) {
				display: flex;
				flex-direction: column;
				gap: 100px;
				max-width: 290px;
			}
		}
	}
	&__item {
		display: flex;
		align-items: flex-start;
		&-icon {
			width: 40px;
			height: 40px;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $white;
			color: #878787;
			@media (min-width: $tablet) {
				width: 60px;
				height: 60px;
			}
			svg {
				width: 16px;
				height: 16px;
				@media (min-width: $tablet) {
					width: 25px;
					height: 25px;
				}
			}
		}
		&-text {
			font-size: 14px;
			width: calc(100% - 40px);
			padding-left: 10px;
			min-height: 40px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			line-height: 1.2;
			@media (min-width: $tablet) {
				line-height: 1.4;
				width: calc(100% - 60px);
				padding-left: 20px;
				min-height: 60px;
			}
			@media (min-width: $tablet) {
				font-size: 18px;
			}
			a {
				display: none;
				@media (min-width: $tablet) {
					display: block;
				}
				&:hover {
					color: $green;
				}
			}
		}
		&_green &-icon {
			background: $light;
			color: $white;
		}
		&_green &-text {
			font-weight: 600;
		}
	}
	&__warning {
		margin: 0 auto;
		max-width: 365px;
		@media (min-width: $tablet) {
			margin: 0;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		@media (min-width: $desktop) {
			bottom: auto;
			top: 0;
			max-width: 350px;
		}
	}
}