.verify {
	margin-top: 100px;
	&__wrapper {
		margin: 0 -20px;
		background: $black;
		color: $white;
		border-radius: 20px;
		padding: 30px 20px;
		@media (min-width: $tablet) {
			margin: 0;
			padding: 40px 30px;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: $laptop) {
			padding: 60px 40px;
		}
	}
	&__pic {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			height: 220px;
			@media (min-width: $tablet) {
				height: 310px;
			}
			@media (min-width: $desktop) {
				height: 400px;
			}
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-top: 20px;
		@media (min-width: $tablet) {
			margin: 0;
		}
		&-title {
			font-weight: 600;
			font-size: 25px;
			@media (min-width: $desktop) {
				font-size: 35px;
				max-width: 370px;
			}
		}
		&-text {
			color: #E5E5E5;
			@media (min-width: $desktop) {
				font-size: 18px;
				max-width: 370px;
			}
			a {
				text-decoration: underline;
				&:hover {
					color: $white;
				}
			}
		}
		&-button {
			@media (min-width: $tablet) {
				max-width: 290px;
			}
		}
	}
}