<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<ol>
<li><a href="main.html">Главная страница</a></li>
<li><a href="service.html">Услуга</a></li>
<li><a href="text.html">Типовая страница</a></li>
<li><a href="franchise.html">Франшиза</a></li>
<li><a href="locations.html">Локации</a></li>
<li><a href="locations-item.html">Стр. Локации</a></li>
<li><a href="reviews.html">Отзывы</a></li>
<li><a href="modals.html">Модальные окна</a></li>
<li><a href="404.html">404</a></li>
</ol>
</body>
</html>