<!DOCTYPE html>
<html lang="ru">
<head>
<!--base href="/dev/b/"-->
<meta charset="utf-8">
<title>title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#0AC964">
<link rel="stylesheet" href="css/style.css">
</head>
<body id="body">
<a href="#body" class="to-top js-scroll-to">
    <svg><use xlink:href="images/sprite.svg#arrow-top"></use></svg>
</a>

<div> <!-- BEGIN TOP WRAPPER -->
    <div class="overlay js-close-all"></div><section class="toper">
        <div class="container">
            <div class="toper__body">
                <button class="toper__burger js-close-nav">
                    <svg><use xlink:href="images/sprite.svg#cross"></use></svg>
                </button>
                <nav class="toper__menu">
                    <div class="toper__menu-item">
                        <button class="toper__menu-link js-toper-menu">
                            О компании
                            <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                        </button>
                        <div class="toper__sub">
                            <div class="container">
                                <div class="toper__sub-body">
                                    <div class="toper__sub-item">
                                        <a href="#"><b>О компании</b></a>
                                        <a href="#">Юридические услуги</a>
                                        <a href="#">Юридическая консультация</a>
                                        <a href="#">Списание долгов</a>
                                        <a href="#">Адвокатская контора</a>
                                        <a href="#">Осуществление банкротства</a>
                                        <a href="#">Банкротство ИП</a>
                                        <a href="#">Банкротство ОАО</a>
                                        <a href="#">Банкротство ООО</a>
                                    </div>
                                    <div class="toper__sub-item">
                                        <a href="#"><b>Наши юристы</b></a>
                                        <a href="#">Юридические услуги</a>
                                        <a href="#">Юридическая консультация</a>
                                        <a href="#">Списание долгов</a>
                                        <a href="#">Адвокатская контора</a>
                                        <a href="#">Осуществление банкротства</a>
                                        <a href="#">Банкротство ИП</a>
                                        <a href="#">Банкротство ОАО</a>
                                        <a href="#">Банкротство ООО</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="toper__menu-item">
                        <button class="toper__menu-link js-toper-menu">
                            Наши юристы
                            <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                        </button>
                    </div>
                    <div class="toper__menu-item">
                        <button class="toper__menu-link js-open-cities">
                            Город: <span>Москва</span>
                            <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                        </button>
                    </div>
                </nav>
                <div class="toper__icons">
                    <div class="toper__icons-item">
                        <button class="toper__icons-button js-toggle-search js-toggle">
                            <svg><use xlink:href="images/sprite.svg#search"></use></svg>
                        </button>
                    </div>
                    <div class="toper__icons-item">
                        <button class="toper__icons-button">
                            <svg><use xlink:href="images/sprite.svg#bookmark"></use></svg>
                        </button>
                    </div>
                    <div class="toper__icons-item">
                        <button class="toper__icons-button">
                            <svg><use xlink:href="images/sprite.svg#ring"></use></svg>
                        </button>
                    </div>
                    <div class="toper__icons-item">
                        <button class="toper__icons-button js-toggle-profile js-toggle">
                            <svg><use xlink:href="images/sprite.svg#profile"></use></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__col">
                    <button class="header__burger js-open-nav">
                        <svg><use xlink:href="images/sprite.svg#burger"></use></svg>
                    </button>
                    <a href="#" class="header__logo">
                        <img src="images/logo.svg" alt="">
                    </a>
                    <button class="header__profile js-toggle-mob-profile">
                        <svg><use xlink:href="images/sprite.svg#profile"></use></svg>
                    </button>
                    <nav class="header__menu">
                        <a href="#" class="header__menu-item">Главная</a>
                        <a href="#" class="header__menu-item">Услуги</a>
                        <a href="#" class="header__menu-item">Франшиза</a>
                        <a href="#" class="header__menu-item">Локация</a>
                    </nav>
                </div>
                <div class="header__col">
                    <a href="#" class="header__phone">
                        +7&nbsp;(495)&nbsp;555-22-22
                    </a>
                    <button class="header__callback button">Получить консультацию</button>
                </div>
            </div>
        </div>
    </header>
    <section class="nav">
        <div class="container">
             <div class="nav__toper">
                 <div class="nav__toper-left">
                     <div class="nav__toper-cities">
                         Город:
                         <button type="button" class="js-open-cities">
                             Москва
                             <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                         </button>
                     </div>
                     <a href="#" class="nav__toper-phone">+7 (495) 555-22-22</a>
                 </div>
                 <div class="nav__toper-right">
                     <a href="#" class="nav__toper-item">
                         <svg><use xlink:href="images/sprite.svg#phone"></use></svg>
                     </a>
                     <a href="#" class="nav__toper-item">
                         <svg><use xlink:href="images/sprite.svg#chat"></use></svg>
                     </a>
                 </div>
             </div>
             <div class="nav__head">
                <div class="nav__head-left">
                    <button class="header__burger active js-close-nav">
                        <svg><use xlink:href="images/sprite.svg#cross"></use></svg>
                    </button>
                    <a href="#" class="header__logo">
                        <img src="images/logo.svg" alt="">
                    </a>
                </div>
                <div class="nav__head-right">
                    <a href="#" class="nav__head-phone">+7 (495) 555-22-22</a>
                    <button class="button">Получить консультацию</button>
                </div>
             </div>
             <div class="nav__body">
                <div class="nav__wrapper">
                     <div class="nav__menu">
                         <div class="nav__menu-item">
                            <div class="nav__menu-toggle js-toggle">
                                <a href="#">Главная</a>
                                <button type="button">
                                    <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                                </button>
                            </div>
                            <ul class="nav__menu-sub">
                                <li><a href="#">Банкротство</a></li>
                                <li><a href="#">Недвижимость</a></li>
                                <li><a href="#">Налоги</a></li>
                            </ul>
                         </div>
                         <div class="nav__menu-item">
                            <div class="nav__menu-toggle js-toggle active">
                                <a href="#">Услуги</a>
                                <button type="button">
                                    <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                                </button>
                            </div>
                            <ul class="nav__menu-sub">
                                <li><a href="#">Банкротство</a></li>
                                <li><a href="#">Недвижимость</a></li>
                                <li><a href="#">Налоги</a></li>
                            </ul>
                         </div>
                         <div class="nav__menu-item">
                            <div class="nav__menu-toggle js-toggle">
                                <a href="#">Франшиза</a>
                                <button type="button">
                                    <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                                </button>
                            </div>
                            <ul class="nav__menu-sub">
                                <li><a href="#">Банкротство</a></li>
                                <li><a href="#">Недвижимость</a></li>
                                <li><a href="#">Налоги</a></li>
                            </ul>
                         </div>
                         <div class="nav__menu-item">
                            <div class="nav__menu-toggle js-toggle">
                                <a href="#">Локация</a>
                                <button type="button">
                                    <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                                </button>
                            </div>
                            <ul class="nav__menu-sub">
                                <li><a href="#">Банкротство</a></li>
                                <li><a href="#">Недвижимость</a></li>
                                <li><a href="#">Налоги</a></li>
                            </ul>
                         </div>
                         <div class="nav__menu-item">
                            <div class="nav__menu-toggle js-toggle">
                                <a href="#">Отзывы</a>
                                <button type="button">
                                    <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                                </button>
                            </div>
                            <ul class="nav__menu-sub">
                                <li><a href="#">Банкротство</a></li>
                                <li><a href="#">Недвижимость</a></li>
                                <li><a href="#">Налоги</a></li>
                            </ul>
                         </div>
                     </div>
                     <div class="nav__cats">
                         <a href="#" class="nav__cats-item">
                             <span>О компании</span>
                             <i><svg><use xlink:href="images/sprite.svg#arrow"></use></svg></i>
                         </a>
                         <a href="#" class="nav__cats-item">
                             <span>Контакты</span>
                             <i><svg><use xlink:href="images/sprite.svg#arrow"></use></svg></i>
                         </a>
                         <a href="#" class="nav__cats-item">
                             <span>Наши юристы</span>
                             <i><svg><use xlink:href="images/sprite.svg#arrow"></use></svg></i>
                         </a>
                         <a href="#" class="nav__cats-item">
                             <span>Сервисы</span>
                             <i><svg><use xlink:href="images/sprite.svg#arrow"></use></svg></i>
                         </a>
                     </div>
                </div>
                 <div class="nav__thing">
                    <a href="#" class="nav__thing-item">
                        <span class="nav__thing-face">
                            <img src="images/person-white.svg" alt="">
                        </span>
                        <span class="nav__thing-body">
                            <span class="nav__thing-title">Информационный портал</span>
                            <span class="nav__thing-text">Здесь вы можете почитать полезные статьи</span>
                            <span class="nav__thing-arrow">
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </span>
                        </span>
                    </a>
                    <a href="#" class="nav__thing-item" style="background:#F2F5F9">
                        <span class="nav__thing-face" style="background:#839BC8">
                            <img src="images/person-white.svg" alt="">
                        </span>
                        <span class="nav__thing-body">
                            <span class="nav__thing-title">Сервис</span>
                            <span class="nav__thing-text">Юрист к кармане, онлайн 24/7</span>
                            <span class="nav__thing-arrow" style="background:#839BC8">
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </span>
                        </span>
                    </a>
                    <a href="#" class="nav__thing-item" style="background:#000;color:#fff">
                        <span class="nav__thing-face">
                            <img src="images/person-white.svg" alt="">
                        </span>
                        <span class="nav__thing-body">
                            <span class="nav__thing-title">Офисы</span>
                            <span class="nav__thing-text">Здесь вы можете оставить заявку на обслуживание юриста</span>
                            <span class="nav__thing-arrow" style="color:#000">
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </span>
                        </span>
                    </a>
                    <a href="#" class="nav__thing-item" style="background:#B9AB91;color:#fff">
                        <span class="nav__thing-face" style="background:#F4F4F4">
                            <img src="images/person-white.svg" alt="">
                        </span>
                        <span class="nav__thing-body">
                            <span class="nav__thing-title">Школа</span>
                            <span class="nav__thing-text">Юрист к кармане, онлайн 24/7</span>
                            <span class="nav__thing-arrow" style="background:#F4F4F4;color:#000">
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </span>
                        </span>
                    </a>
                 </div>
             </div>
        </div>
    </section>
    <section class="search">
        <div class="search__wrapper">
            <div class="search__toper">
                <input type="search" placeholder="Поиск&hellip;">
                <button type="button">
                    <svg><use xlink:href="images/sprite.svg#search"></use></svg>
                </button>
            </div>
            <div class="search__body">
                <div class="search__one">
                    <a href="#">
                        <i><svg><use xlink:href="images/sprite.svg#search"></use></svg></i>
                        <span>Повышение НДФЛ с 13 до 30% при работе из другой страны:</span>
                    </a>
                    <a href="#">
                        <i><svg><use xlink:href="images/sprite.svg#search"></use></svg></i>
                        <span>НДФЛ повышен</span>
                    </a>
                    <a href="#">
                        <i><svg><use xlink:href="images/sprite.svg#search"></use></svg></i>
                        <span>НДФЛ 13%</span>
                    </a>
                </div>
                <div class="search__two">
                    <span class="checkbox checkbox_full checkbox_green">
                        <label class="checkbox__icon">
                            <input type="checkbox" checked>
                            <span>
                                <svg><use xlink:href="images/sprite.svg#v"></use></svg>
                            </span>
                        </label>
                        <span class="checkbox__text">
                            <span>Услуги</span>
                        </span>
                    </span>
                    <span class="checkbox checkbox_full checkbox_green">
                        <label class="checkbox__icon">
                            <input type="checkbox">
                            <span>
                                <svg><use xlink:href="images/sprite.svg#v"></use></svg>
                            </span>
                        </label>
                        <span class="checkbox__text">
                            <span>Локации</span>
                        </span>
                    </span>
                </div>
            </div>
            <a href="#" class="search__more">
                <svg class="rotate180"><use xlink:href="images/sprite.svg#arrow-top"></use></svg>
                Перейти в результаты
            </a>
        </div>
    </section>
    <section class="profile">
        <div class="container">
            <div class="profile__wrapper">
                <div class="profile__toper">
                    <img src="images/avatar.jpg" alt="">
                    <div>
                        <b>Иванов Олег Сергеевич</b>
                    </div>
                </div>
                <div class="profile__body">
                    <a href="#" class="profile__one">
                        <span>Активность на портале</span>
                        <i><svg><use xlink:href="images/sprite.svg#arrow"></use></svg></i>
                    </a>
                    <a href="#" class="profile__two">Выйти</a>
                </div>
            </div>
        </div>
    </section>
    <section class="cities">
        <div class="container">
            <div class="cities__wrapper">
                <div class="cities__toper">
                    <input type="search" placeholder="Поиск&hellip;">
                    <svg><use xlink:href="images/sprite.svg#search"></use></svg>
                </div>
                <ul class="cities__body">
                    <li class="active"><a href="#">Москва</a></li>
                    <li><a href="#">Московская обл.</a></li>
                    <li><a href="#">Магадан</a></li>
                    <li><a href="#">Магнитогорск</a></li>
                    <li><a href="#">Майкоп</a></li>
                    <li><a href="#">Махачкала</a></li>
                    <li><a href="#">Москва</a></li>
                    <li><a href="#">Московская обл.</a></li>
                    <li><a href="#">Магадан</a></li>
                    <li><a href="#">Магнитогорск</a></li>
                    <li><a href="#">Майкоп</a></li>
                    <li><a href="#">Махачкала</a></li>
                    <li><a href="#">Москва</a></li>
                    <li><a href="#">Московская обл.</a></li>
                    <li><a href="#">Магадан</a></li>
                    <li><a href="#">Магнитогорск</a></li>
                    <li><a href="#">Майкоп</a></li>
                    <li><a href="#">Махачкала</a></li>
                    <li><a href="#">Москва</a></li>
                    <li><a href="#">Московская обл.</a></li>
                    <li><a href="#">Магадан</a></li>
                    <li><a href="#">Магнитогорск</a></li>
                    <li><a href="#">Майкоп</a></li>
                    <li><a href="#">Махачкала</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="bottom">
        <div class="container">
            <div class="bottom__body">
                <button class="bottom__burger js-open-nav">
                    <svg><use xlink:href="images/sprite.svg#burger"></use></svg>
                </button>
                <div class="bottom__buttons">
                    <a href="#" class="bottom__buttons-item">
                        <svg><use xlink:href="images/sprite.svg#chat"></use></svg>
                    </a>
                    <a href="#" class="bottom__buttons-item">
                        <svg><use xlink:href="images/sprite.svg#phone"></use></svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><span>Локация г. Санкт-Петербург, Осенний бульвар, 15</span></li>
            </ul>
        </div>
    </section>
    <main class="content">
        <div class="container">
            <div class="content__const">
                <h1>Москва, ул. Осенний бульвар, 15, оф. 202</h1>
                <div class="content__formy">
                    <div class="content__formy-item">
                        <h2 class="content__formy-title">Оставьте заявку на консультацию!</h2>
                        <div class="content__formy-text">Наши юристы перезвонят Вам в удобное для Вас время!</div>
                        <img src="images/men-2.png" alt="" class="content__formy-pic">
                    </div>
                    <div class="content__formy-item">
                        <form class="form">
                            <input class="input" placeholder="Ваше имя">
                            <input type="tel" class="input" placeholder="+7 (___) ___-__-__">
                            <button type="submit" class="button">Получить консультацию</button>
                            <span class="checkbox checkbox_green">
                                <label class="checkbox__icon">
                                    <input type="checkbox" checked>
                                    <span>
                                        <svg><use xlink:href="images/sprite.svg#v"></use></svg>
                                    </span>
                                </label>
                                <span class="checkbox__text">
                                    <span>
                                        Cогласен на
                                        <a href="#">обработку персональных данных</a>
                                    </span>
                                </span>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="solution">
        <div class="container">
            <div class="solution__wrapper">
                <div class="big-title">
                    <div class="big-title__icon-face">
                        <img src="images/person-white.svg" alt="">
                    </div>
                    <span>Поручите нам<br>решение любых<br>вопросов</span>
                </div>
                <div class="solution__tabs">
                    <div class="solution__tabs-wrapper">
                        <button type="button" class="solution__tabs-item js-parent-toggle active">
                            <svg><use xlink:href="images/sprite.svg#tab-1"></use></svg>
                            <span>Услуги для юридических лиц</span>
                        </button>
                        <button type="button" class="solution__tabs-item js-parent-toggle">
                            <svg><use xlink:href="images/sprite.svg#tab-2"></use></svg>
                            <span>Услуги для юридических лиц</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="solution__body">
                <div class="solution__body-item solution__body-item_i1">
                    <div class="solution__body-one">
                        <div>
                            <div class="solution__body-title">
                                <span>Банкроство физ лиц</span>
                                <i>
                                    <svg><use xlink:href="images/sprite.svg#justice"></use></svg>
                                </i>
                            </div>
                            <div class="solution__body-text">Отказаться от страховки, рефинансировать кредит, вернуть заем по расписке, досрочно погасить кредит</div>
                        </div>
                        <a href="#" class="button">Получить консультацию</a>
                    </div>
                </div>
                <div class="solution__body-item solution__body-item_i2">
                    <div class="solution__body-one">
                        <div>
                            <div class="solution__body-title">
                                <span>Налоговый вычет</span>
                                <i>
                                    <svg><use xlink:href="images/sprite.svg#people"></use></svg>
                                </i>
                            </div>
                            <div class="solution__body-text">Льготы, предусмотренные в моем регионе, получить пособие на ребенка, льготы для многодетных семей</div>
                        </div>
                        <a href="#" class="button">Получить консультацию</a>
                    </div>
                </div>
                <div class="solution__body-item solution__body-item_i3">
                    <div class="solution__body-one solution__body-one_blue">
                        <div>
                            <div class="solution__body-title">
                                <span>Абоненсткое обслуживание юр лиц</span>
                                <i>
                                    <svg><use xlink:href="images/sprite.svg#justice"></use></svg>
                                </i>
                            </div>
                            <div class="solution__body-text">Отказаться от страховки, рефинансировать кредит, вернуть заем по расписке, досрочно погасить кредит</div>
                        </div>
                        <a href="#" class="button button_white">Получить консультацию</a>
                    </div>
                </div>
                <div class="solution__body-item solution__body-item_i4">
                    <div class="solution__body-two">
                        <div>
                            <div class="solution__body-title">Права потребителей</div>
                            <div class="solution__body-text">Принуждение к вакцинации работодателем, задерживают зарплату</div>
                        </div>
                        <a href="#" class="solution__body-link">
                            Получить консультацию
                            <i>
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="solution__body-item solution__body-item_i5">
                    <div class="solution__body-two">
                        <div>
                            <div class="solution__body-title">Права потребителей</div>
                            <div class="solution__body-text">Принуждение к вакцинации работодателем, задерживают зарплату</div>
                        </div>
                        <a href="#" class="solution__body-link">
                            Получить консультацию
                            <i>
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="solution__body-item solution__body-item_i6">
                    <div class="solution__body-two">
                        <div>
                            <div class="solution__body-title">Права потребителей</div>
                            <div class="solution__body-text">Принуждение к вакцинации работодателем, задерживают зарплату</div>
                        </div>
                        <a href="#" class="solution__body-link">
                            Получить консультацию
                            <i>
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="solution__body-item solution__body-item_i7">
                    <div class="solution__body-two">
                        <div>
                            <div class="solution__body-title">Права потребителей</div>
                            <div class="solution__body-text">Принуждение к вакцинации работодателем, задерживают зарплату</div>
                        </div>
                        <a href="#" class="solution__body-link">
                            Получить консультацию
                            <i>
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="solution__body-item solution__body-item_i8">
                    <div class="solution__body-two">
                        <div>
                            <div class="solution__body-title">Права потребителей</div>
                            <div class="solution__body-text">Принуждение к вакцинации работодателем, задерживают зарплату</div>
                        </div>
                        <a href="#" class="solution__body-link">
                            Получить консультацию
                            <i>
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="solution__body-item solution__body-item_i9">
                    <div class="solution__body-two">
                        <div>
                            <div class="solution__body-title">Права потребителей</div>
                            <div class="solution__body-text">Принуждение к вакцинации работодателем, задерживают зарплату</div>
                        </div>
                        <a href="#" class="solution__body-link">
                            Получить консультацию
                            <i>
                                <svg><use xlink:href="images/sprite.svg#arrow"></use></svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="container">
            <div class="info__body">
                <div class="info__warning">
                    <div class="info__warning-title">
                        <svg><use xlink:href="images/sprite.svg#warning"></use></svg>
                        <span>Офис временно не&nbsp;работает</span>
                    </div>
                    <div class="info__warning-text">На метро (ст. Полежаевская): первый вагон из центра, из стеклянных дверей направо На метро (ст. Полежаевская): первый вагон из центра, из стеклянных дверей направо</div>
                </div>
                <div class="info__wrapper">
                    <div class="info__bullets">
                        <div class="info__bullets-item">
                            <div class="info__bullets-icon">
                                <img src="images/svg/1.svg" alt="">
                            </div>
                            <div class="info__bullets-text">
                                <b>Адрес:</b>
                                <span>г. Санкт-Петербург, Осенний бульвар, 15</span>
                            </div>
                        </div>
                        <div class="info__bullets-item">
                            <div class="info__bullets-icon">
                                <img src="images/svg/2.svg" alt="">
                            </div>
                            <div class="info__bullets-text">
                                <b>Телефон:</b>
                                <a href="#">+7 495 507-36-14</a>
                                <a href="#">+7 991 664-01-19</a>
                            </div>
                        </div>
                        <div class="info__bullets-item">
                            <div class="info__bullets-icon">
                                <img src="images/svg/3.svg" alt="">
                            </div>
                            <div class="info__bullets-text">
                                <b>Часы работы:</b>
                                <span>СР с 15:00 до 19:00</span>
                                <span>ПТ с 11:00 до 15:00</span>
                                <span>СБ с 11:00 до 15:00</span>
                            </div>
                        </div>
                        <div class="info__bullets-item">
                            <div class="info__bullets-icon">
                                <img src="images/svg/4.svg" alt="">
                            </div>
                            <div class="info__bullets-text">
                                <b>Ближайшая станция метро:</b>
                                <span>Крылатское</span>
                            </div>
                        </div>
                        <div class="info__bullets-item">
                            <div class="info__bullets-icon">
                                <img src="images/svg/5.svg" alt="">
                            </div>
                            <div class="info__bullets-text">
                                <b>Важная информация:</b>
                                <span>В центре проводится комплексная диагностика слуха детей и взрослых</span>
                            </div>
                        </div>
                        <div class="info__bullets-item">
                            <div class="info__bullets-icon">
                                <img src="images/svg/6.svg" alt="">
                            </div>
                            <div class="info__bullets-text">
                                <b>Как пройти?</b>
                                <span>На метро (ст. Полежаевская): первый вагон из центра, из стеклянных дверей направо (двигаться в сторону 2-го выхода), выход в город - налево. Пройти прямо по ходу движения 3 минуты до Хорошевского шоссе, д. 92.</span>
                            </div>
                        </div>
                    </div>
                    <div class="info__gallery">
                        <div class="navs navs_white">
                            <button type="button" class="js-info-prev"><svg class="rotate180"><use xlink:href="images/sprite.svg#arrow"></use></svg></button>
                            <button type="button" class="js-info-next"><svg><use xlink:href="images/sprite.svg#arrow"></use></svg></button>
                        </div>
                        <div class="swiper js-info">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="images/room.jpg" class="info__gallery-item" data-fancybox="info">
                                        <img src="images/room.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="images/photo.jpg" class="info__gallery-item" data-fancybox="info">
                                        <img src="images/photo.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info__map">
                    <iframe src="https://yandex.ru/map-widget/v1/-/CBacmXs3sD"></iframe>
                </div>
                <div class="info__bottom">
                    <div class="info__bottom-one">
                        <img src="images/avatar.jpg" akt="" class="info__bottom-pic">
                        <div class="info__bottom-subtitle">Ведущий юрист</div>
                        <div class="info__bottom-title">Иванов Сергей Иванович</div>
                        <div class="info__bottom-text">Повышение НДФЛ с 13 до 30% при работе из другой страны: кого может коснуться. Пока Госдума не рассматривала законопроект, но, в отличие от первой версии, его передали профильному комитету.</div>
                        <div class="info__bottom-text">Повышение НДФЛ с 13 до 30% при работе из другой страны: кого может коснуться. Пока Госдума не рассматривала законопроект, но, в отличие от первой версии, его передали профильному комитету.</div>
                    </div>
                    <div class="info__bottom-two">
                        <div class="info__bottom-item">
                            <b>+14</b>
                            лет на рынке
                        </div>
                        <div class="info__bottom-item">
                            <b>8</b>
                            стран присутствия
                        </div>
                        <div class="info__bottom-item">
                            <b>4 500 000 +</b>
                            юридических консультаций
                        </div>
                        <div class="info__bottom-item">
                            <b>300 000 +</b>
                            пользователей юридических лиц
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <div class="team__toper">
                <div class="big-title">
                    <div class="big-title__icon-face">
                        <img src="images/person-white.svg" alt="">
                    </div>
                    <span>В штате более 250<br>квалифицированных юристов</span>
                </div>
                <div class="navs navs_white">
                    <button type="button" class="js-team-prev"><svg class="rotate180"><use xlink:href="images/sprite.svg#arrow"></use></svg></button>
                    <button type="button" class="js-team-next"><svg><use xlink:href="images/sprite.svg#arrow"></use></svg></button>
                </div>
            </div>
            <div class="swiper js-team">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="person">
                            <img src="images/avatar.jpg" alt="" class="person__pic">
                            <div class="person__body">
                                <div class="person__title">Иванов Сергей Иванович</div>
                                <div class="person__text">Ведущий юрист по жилищному праву</div>
                                <div class="person__tags">
                                    <span>Стаж: <b>15 лет</b></span>
                                    <span>Консультаций: <b>>6000</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person">
                            <img src="images/avatar.jpg" alt="" class="person__pic">
                            <div class="person__body">
                                <div class="person__title">Иванов Сергей Иванович</div>
                                <div class="person__text">Ведущий юрист по жилищному праву</div>
                                <div class="person__tags">
                                    <span>Стаж: <b>15 лет</b></span>
                                    <span>Консультаций: <b>>6000</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person">
                            <img src="images/avatar.jpg" alt="" class="person__pic">
                            <div class="person__body">
                                <div class="person__title">Иванов Сергей Иванович</div>
                                <div class="person__text">Ведущий юрист по жилищному праву</div>
                                <div class="person__tags">
                                    <span>Стаж: <b>15 лет</b></span>
                                    <span>Консультаций: <b>>6000</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person">
                            <img src="images/avatar.jpg" alt="" class="person__pic">
                            <div class="person__body">
                                <div class="person__title">Иванов Сергей Иванович</div>
                                <div class="person__text">Ведущий юрист по жилищному праву</div>
                                <div class="person__tags">
                                    <span>Стаж: <b>15 лет</b></span>
                                    <span>Консультаций: <b>>6000</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person">
                            <img src="images/avatar.jpg" alt="" class="person__pic">
                            <div class="person__body">
                                <div class="person__title">Иванов Сергей Иванович</div>
                                <div class="person__text">Ведущий юрист по жилищному праву</div>
                                <div class="person__tags">
                                    <span>Стаж: <b>15 лет</b></span>
                                    <span>Консультаций: <b>>6000</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person">
                            <img src="images/avatar.jpg" alt="" class="person__pic">
                            <div class="person__body">
                                <div class="person__title">Иванов Сергей Иванович</div>
                                <div class="person__text">Ведущий юрист по жилищному праву</div>
                                <div class="person__tags">
                                    <span>Стаж: <b>15 лет</b></span>
                                    <span>Консультаций: <b>>6000</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="logos">
        <div class="container">
            <div class="swiper js-logos">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/logos/1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/3.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/4.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/3.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/4.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/3.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/4.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/3.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/logos/4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cases">
        <div class="container">
            <div class="cases__toper">
                <div class="big-title">
                    <div class="big-title__icon-face">
                        <img src="images/person-white.svg" alt="">
                    </div>
                    <span>Посмотрите вопросы,<br>которые мы уже решили,<br>возможно там есть Ваш</span>
                </div>
                <div class="navs navs_white">
                    <button type="button" class="js-cases-prev"><svg class="rotate180"><use xlink:href="images/sprite.svg#arrow"></use></svg></button>
                    <button type="button" class="js-cases-next"><svg><use xlink:href="images/sprite.svg#arrow"></use></svg></button>
                </div>
            </div>
            <div class="swiper js-cases">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="thing">
                            <img src="images/1.jpg" alt="" class="thing__pic">
                            <div class="thing__body">
                                <div class="thing__title">Урегулировали претензию и предотвратили суд</div>
                                <div class="thing__text">Клиент предоставил знакомому деньги в долг. Что можно сделать, имея расписку, по которой срок возврата займа вышел?</div>
                                <a href="#" class="button button_silver">Смотреть ответ</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thing">
                            <img src="images/2.jpg" alt="" class="thing__pic">
                            <div class="thing__body">
                                <div class="thing__title">Урегулировали претензию и предотвратили суд</div>
                                <div class="thing__text">Клиент предоставил знакомому деньги в долг. Что можно сделать, имея расписку, по которой срок возврата займа вышел?</div>
                                <a href="#" class="button button_silver">Смотреть ответ</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thing">
                            <img src="images/1.jpg" alt="" class="thing__pic">
                            <div class="thing__body">
                                <div class="thing__title">Урегулировали претензию и предотвратили суд</div>
                                <div class="thing__text">Клиент предоставил знакомому деньги в долг. Что можно сделать, имея расписку, по которой срок возврата займа вышел?</div>
                                <a href="#" class="button button_silver">Смотреть ответ</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thing">
                            <img src="images/2.jpg" alt="" class="thing__pic">
                            <div class="thing__body">
                                <div class="thing__title">Урегулировали претензию и предотвратили суд</div>
                                <div class="thing__text">Клиент предоставил знакомому деньги в долг. Что можно сделать, имея расписку, по которой срок возврата займа вышел?</div>
                                <a href="#" class="button button_silver">Смотреть ответ</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thing">
                            <img src="images/1.jpg" alt="" class="thing__pic">
                            <div class="thing__body">
                                <div class="thing__title">Урегулировали претензию и предотвратили суд</div>
                                <div class="thing__text">Клиент предоставил знакомому деньги в долг. Что можно сделать, имея расписку, по которой срок возврата займа вышел?</div>
                                <a href="#" class="button button_silver">Смотреть ответ</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thing">
                            <img src="images/2.jpg" alt="" class="thing__pic">
                            <div class="thing__body">
                                <div class="thing__title">Урегулировали претензию и предотвратили суд</div>
                                <div class="thing__text">Клиент предоставил знакомому деньги в долг. Что можно сделать, имея расписку, по которой срок возврата займа вышел?</div>
                                <a href="#" class="button button_silver">Смотреть ответ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> <!-- END TOP WRAPPER -->

<div> <!-- BEGIN BOTTOM WRAPPER -->
    <footer class="footer">
        <div class="container">
            <nav class="footer__menu">
                <a href="#">Юридические услуги</a>
                <a href="#">Юридическая консультация</a>
                <a href="#">Списание долгов</a>
                <a href="#">Адвокатская контора</a>
                <a href="#">Осуществление банкротства</a>
                <a href="#">Банкротство ИП</a>
                <a href="#">Банкротство ОАО</a>
                <a href="#">Банкротство ООО</a>
                <a href="#">Юридические услуги</a>
                <a href="#">Юридическая консультация</a>
                <a href="#">Списание долгов</a>
                <a href="#">Адвокатская контора</a>
                <a href="#">Осуществление банкротства</a>
                <a href="#">Банкротство ИП</a>
                <a href="#">Банкротство ОАО</a>
                <a href="#">Банкротство ООО</a>
                <a href="#">Юридические услуги</a>
                <a href="#">Юридическая консультация</a>
                <a href="#">Списание долгов</a>
                <a href="#">Адвокатская контора</a>
                <a href="#">Осуществление банкротства</a>
                <a href="#">Банкротство ИП</a>
                <a href="#">Банкротство ОАО</a>
                <a href="#">Банкротство ООО</a>
            </nav>
            <div class="footer__body">
                <nav class="footer__body-cats">
                    <a href="#">О компании</a>
                    <a href="#">Наши юристы</a>
                    <a href="#">Контакты</a>
                    <a href="#">Новости</a>
                    <a href="#">Статьи</a>
                    <a href="#">Кейсы</a>
                    <a href="#">Полезные инструменты</a>
                </nav>
                <a href="#" class="footer__body-logo">
                    <img src="images/logo.svg" alt="">
                </a>
            </div>
        </div>
        <div class="footer__copy">
            <div class="container">
                <div class="footer__copy-body">
                    <div class="footer__copy-text">
                        2023 &copy; Мой Юрист
                        <a href="#">Политика конфиденциальности</a>
                    </div>
                    <div class="paths footer__copy-paths">
                        <a href="#" class="paths__item">
                            <span>Сервис</span>
                            <b style="background:#839BC8"></b>
                        </a>
                        <a href="#" class="paths__item">
                            <span>Юристы</span>
                            <b style="background:#ABD7A0"></b>
                        </a>
                        <a href="#" class="paths__item">
                            <span>Школа</span>
                            <b style="background:#B9AB91"></b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div> <!-- END BOTTOM WRAPPER -->

<div hidden> <!-- BEGIN MODALS WRAPPER -->
    <div class="modal">
        modal
    </div>
</div> <!-- END MODALS WRAPPER -->

<script src="js/swiper.js"></script>
<script src="js/jquery.js"></script>
<script src="js/jquery.maskedinput.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.select2.js"></script>
<script src="js/script.js"></script>
</body>
</html>